/* universal styling */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-image: linear-gradient(120deg, #6164f3, #5394e9);
  min-height: 100vh;
  color: aliceblue;
}

header {
  font-size: 1.5rem;
}

form,
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 18vh;
}
form input,
form button {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: aliceblue;
  /* min-width: 40vw; */
  min-height: 4vh;
  border: none;
}

.submit-btn {
  /* font-size: 3.5vh; */
  background-color: rgb(196, 252, 66);
  color: green;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  color: rgb(79, 245, 79);
  background-color: rgb(11, 103, 189);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  list-style: none;
  min-width: 30%;
  /* margin: 0.5rem; */
}
.todo {
  background-color: rgb(231, 250, 162);
  /* padding: 0.2rem; */
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #f76b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}
/* style to push buttons to end */
.todo li {
  flex: 1;
}
/* style for task text */
.task-text {
  padding: 0.2rem;
}

/* buttons styling for each todo list item */
.delete-btn,
.complete-btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: rgb(218, 33, 27);
  color: antiquewhite;
  border: none;
  cursor: pointer;
}

.complete-btn {
  background: green;
}

/* styling for marking a task completed */
.completed {
  text-decoration: line-through;
  opacity: 0.7;
}
/* deleted task animated falling */
.fall-animation {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/* disabling default i tag clicking infact we want to operate through complete button block */
.fa-trash,
.fa-check {
  pointer-events: none;
}

/* removing default styling of select */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  appearance: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #f76b2b;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 12rem;
  cursor: pointer;
}
/* dropdown icon */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  padding: 0.5rem;
  background: #f76b2b;
  pointer-events: none;
}

/* styling the task counter */
.total {
  position: relative;
  display: flex;
  margin-top: 5%;
  /* align-items: center; */
  margin-left: 32%;
  /* justify-content: center; */
  font-size: 2.5rem;
  color: rgb(250, 16, 16);
  min-height: 10vh;
}
.task-count {
  color: darkred;
}
